.THIS {
}

.THIS h1 {
    font-size: 1.25rem;
}

.THIS h2 {
    font-size: 1rem;
}

.THIS h3 {
    font-size: 0.75rem;
}

.THIS .backgroundInverse>lightning-spinner {
    background-color: #16325c;
    opacity: 0.3;
  }